################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Devices_2017/v15
/SerialPort/obj/Debug
/DevicesTest/obj/Debug
/Print/obj/Debug
/Devices/obj/Debug
